<h1>Shopping Cart:</h1>

<%= form_tag piggybak.cart_update_url do -%>
<table cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<th>Item</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Subtotal</th>
		<th></th>
	</tr>
	<% @cart.items.each do |item| %>
	<tr>
		<td><%= item[:product].description %></td>
		<td><%= number_to_currency item[:product].price %></td>
		<td>
			<% if allow_edit -%>
			<%= text_field_tag "quantity[#{item[:product].id}]", item[:quantity] %>
            <% else -%>
			<%= item[:quantity] %>
			<% end -%>
		</td>
		<td><%= number_to_currency item[:quantity]*item[:product].price %></td>
		<td>
			<% if allow_edit -%>
			<%= link_to "Remove", "/cart/remove/#{item[:product].id}", :method => :delete %>
			<% end -%>
		</td>
	</tr>
	<% end -%>
</table>
			
<% if allow_edit -%>
<%= submit_tag "Update" %>
<% end -%>
<% end -%>

<h3>Total: <%= number_to_currency @cart.total %></h3>
