<div class="title">
<h1><span class="f-left"></span><span class="titletext">Featured Products</span><span class="f-right"></span></h1>
</div>

<div id="image-details">
	<%= link_to @images.first.title, image_url(@images.first.slug) %>
	<p><%= @images.first.description %></p>
</div>

<div id="slider-container">
	<div id="slider-wrapper">
	<div id="slider">
		<% @images.each do |image| %>
		<a data-title="<%= image.title %>" data-desc="<%= image.description %>" href="<%= image_url(image.slug) %>"><%= image_tag(image.main.url) %></a>
		<% end -%>
	</div><!-- #slider -->
	</div>
</div><!-- #slider-container -->

<div class="clearfix"></div>

<div class="title">
<h1><span class="f-left"></span><span class="titletext">Browse Categories</span><span class="f-right"></span></h1>
</div>

<div id="ts-display-portfolio">
<ul id="ts-display-pf-col-3">
	<% @categories.each do |category| %>
	<li class="four columns alpha">
		<div class="ts-display-pf-img">
			<%= link_to image_tag(category.images.first.gallery.url(:thumb)), category_url(category.slug) %>
		</div>
		<div class="ts-display-pf-text">
			<h3 class="posttitle"><%= link_to category.title, category_url(category.slug) %></h3>
			<% if false -%><p>Additional Details here</p><% end -%>
		</div>
		<div class="ts-display-clear"></div>
	</li>
	<% end -%>
</ul>
<div class="clearfix"></div>
</div><!-- end #ts-display-portfolio -->

<div class="clearfix"></div>

<% if false -%>
<div class="title">
<h1><span class="f-left"></span><span class="titletext">Read the Blog</span><span class="f-right"></span></h1>
</div>

<div id="row2">
	<% recent_posts(4).each do |post| %>
	<div class="three columns alpha">
		<h3><%= link_to post.title, bloggybak.post_url(post.slug) %></h3>
		<span class="smalldate"><%= post.created_at.strftime("%B %d, %Y") %></span>
		<p><%= post.excerpt(230) %></p>
	</div>
	<% end -%>
</div><!--#row2-->
<% end -%>
