:ruby
  type = form.object.is_shipping ? "shipping" : "billing"

- if form.object.country.states.any?
  = select_tag "#{type}_state_id", options_from_collection_for_select(form.object.country.states, "id", "name") #.collect { |s| [s.name, s.id] } #, :id, :name, { :selected => form.object.state_id.to_s }
- else
  = text_field "#{type}_state_id"

:javascript
  var geodata_lookup = "#{piggybak.orders_geodata_url}";
