<% if form.object.new_record? %>
N/A
<% else -%>
<table cellpadding="5" cellspacing="0">
	<tr>
		<td width="150">Subtotal (Sellables)</td>
		<td><%= number_to_currency form.object.subtotal %></td>
	</tr>
	<tr>
		<td>Shipping</td>
		<td><%= number_to_currency form.object.shipment_charge %></td>
	</tr>
	<tr>
		<td>Tax</td>
		<td><%= number_to_currency form.object.tax_charge %></td>
	</tr>
	<tr>
		<td>Adjustments</td>
		<td><%= number_to_currency form.object.adjustment_charge %></td>
	</tr>
	<tr>
		<td>Total</td>
		<td><%= number_to_currency form.object.total %></td>
	</tr>
	<tr>
		<td>Payments</td>
		<td><%= number_to_currency form.object.payment_charge %></td>
	</tr>
	<tr>
		<td>Balance Due</td>
		<td><%= number_to_currency form.object.total_due %></td>
	</tr>
	<tr>
		<td>Created at</td>
		<td><%= form.object.created_at.strftime("%m-%d-%Y") %></td>
	</tr>
	<% if form.object.status != "cancelled" -%>
	<tr>
		<td valign="top">Actions</td>
		<td>
			<ul>
				<li><%= link_to "Send or Resend Email Confirmation", piggybak.email_order_url(form.object.id) %></li>
				<li><%= link_to "View as Text", piggybak.download_order_url(form.object.id) %></li>
				<% if form.object.total_due == 0.00 -%>
				<li><%= link_to "Cancel Order", piggybak.cancel_order_url(form.object.id) %> (This does not refund payments.)</li>
				<% end -%>
			</ul>
		</td>
	</tr>
	<% end -%>
</table>
<% end -%>
