<% if form.object.new_record? %>
N/A
<% else -%>
<table cellpadding="5" cellspacing="0">
	<tr>
		<td width="150">Subtotal</td>
		<td>$<%= "%.2f" % form.object.line_items.inject(0) { |subtotal, li| subtotal + li.total } %></td>
	</tr>
	<tr>
		<td>Shipping</td>
		<td>$<%= "%.2f" % form.object.shipments.inject(0) { |shipping, shipment| shipping + shipment.total } %></td>
	</tr>
	<tr>
		<td>Tax</td>
		<td>$<%= "%.2f" % form.object.tax_charge %></td>
	</tr>
	<tr>
		<td>Adjustments</td>
		<td>$<%= "%.2f" % form.object.adjustments.inject(0) { |total, adj| total + adj.total } %></td>
	</tr>
	<tr>
		<td>Order Total</td>
		<td>$<%= "%.2f" % form.object.total %></td>
	</tr>
	<% if form.object.status != "cancelled" -%>
	<tr>
		<td>Total Due</td>
		<td>$<%= "%.2f" % form.object.total_due %></td>
	</tr>
	<% end -%>
	<tr>
		<td>Created at</td>
		<td><%= form.object.created_at.strftime("%m-%d-%Y") %></td>
	</tr>
	<% if form.object.status != "cancelled" -%>
	<tr>
		<td valign="top">Actions</td>
		<td>
			<ul>
				<li><%= link_to "Send or Resend Email Confirmation", piggybak.email_order_url(form.object.id) %></li>
				<li><%= link_to "View as Text", piggybak.download_order_url(form.object.id) %></li>
				<li><%= link_to "Cancel Order", piggybak.cancel_order_url(form.object.id) %> (This does not mark the payment gateway payments. This marks payments tied to ths order in this database as refunded, and marks the order as cancelled.)</li>
			</ul>
		</td>
	</tr>
	<% else -%>
	<tr>
		<td valign="top">Actions</td>
		<td>
			<ul>
				<li>
					<%= link_to "Restore Cancel Order", piggybak.restore_order_url(form.object.id) %>
					(This marks order as un-cancelled.)
				</li>
			</ul>
		</td>
	</tr>
	<% end -%>
</table>
<% end -%>
