<div class="item">
	<%= address.label :firstname %>
	<%= address.text_field :firstname %>
</div>
<div class="item">
	<%= address.label :lastname %>
	<%= address.text_field :lastname %>
</div>
<div class="item">
	<%= address.label :address1 %>
	<%= address.text_field :address1 %>
</div>
<div class="item">
	<%= address.label :city %>
	<%= address.text_field :city %>
</div>
<div class="item">
  <%= address.label :country_id %>
  <%= address.collection_select :country_id, Piggybak::Country.all, :id, :name, { :selected => address.object.country_id.to_s } %>
</div>
<div class="item">
	<%= address.label :state_id %>
	<%= address.collection_select :state_id, address.object.country.states, :id, :name, { :selected => address.object.state_id.to_s } %>
</div>
<div class="item">
	<%= address.label :zip %>
	<%= address.text_field :zip %>
</div>
