<div class="item">
	<%= address.label :firstname %>
	<%= address.text_field :firstname %>
</div>
<div class="item">
	<%= address.label :lastname %>
	<%= address.text_field :lastname %>
</div>
<div class="item">
	<%= address.label :address1 %>
	<%= address.text_field :address1 %>
</div>
<div class="item">
	<%= address.label :city %>
	<%= address.text_field :city %>
</div>
<div class="item">
  <%= address.label :country %>
  <%= address.select :country_id, ::Country.all, :selected => "US" %>
</div>
<div class="item">
	<%= address.label :state %>
	<%= address.select :state_id, ::Country.new("US").states.collect {|key,value| [ value["name"], key ] }, {:include_blank => false} %>
</div>
<div class="item">
	<%= address.label :zip %>
	<%= address.text_field :zip %>
</div>
