<div class="item">
	<%= address.label :firstname %>
	<%= address.text_field :firstname %>
</div>
<div class="item">
	<%= address.label :lastname %>
	<%= address.text_field :lastname %>
</div>
<div class="item">
	<%= address.label :address1 %>
	<%= address.text_field :address1 %>
</div>
<div class="item">
	<%= address.label :city %>
	<%= address.text_field :city %>
</div>
<div class="item">
  <%= address.label :country %>
  <%= address.collection_select :country_id, Piggybak::Country.all, :id, :name %>
</div>
<div class="item">
	<%= address.label :state %>
	<%= address.collection_select :state_id, Piggybak::Address.DEFAULT_COUNTRY.states, :id, :name, {:include_blank => true} %>
</div>
<div class="item">
	<%= address.label :zip %>
	<%= address.text_field :zip %>
</div>
