<table id="items" cellpadding="5" cellspacing="0">
	<tr>
		<th>Item</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Subtotal</th>
	</tr>
	<% order.line_items.sellables.each do |line_item| %>
	<tr>
		<td><%= line_item.description %></td>
		<td><%= number_to_currency line_item.unit_price %></td>
		<td><%= line_item.quantity %></td>
		<td><%= number_to_currency line_item.price %></td>
	</tr>
	<% end -%>
	<tr>
		<td colspan="4"></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td>Subtotal</td>
		<td><%= number_to_currency order.line_items.sellables.inject(0) { |subtotal, li| subtotal + li.price } %></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td>Tax</td>
		<td><%= number_to_currency order.tax_charge %></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td>Shipping</td>
		<td><%= number_to_currency order.shipment_charge %></td>
	</tr>
	<% Piggybak.config.line_item_types.each do |k, v| -%>
	<% if v.has_key?(:display_in_cart) && order.line_items.detect { |li| li.line_item_type == k.to_s } -%>
	<tr>
		<td colspan="2"></td>
		<td><%= v[:display_in_cart] %></td>
		<td class="extra_totals" id="<%= k %>_total"><%= number_to_currency order.line_items.detect { |li| li.line_item_type == k.to_s }.price %></td>
	</tr>
	<% end -%> 
	<% end -%>
	<tr>
		<td colspan="2"></td>
		<td>Total</td>
		<td><%= number_to_currency order.total %></td>
	</tr>
</table>

Email: <%= order.email %><br />
Phone: <%= order.phone %>

<h3>Billing Information</h3>
<%= raw order.billing_address.display %>

<h3>Shipping Information</h3>
<%= raw order.shipping_address.display %>
