<h1>Thanks for your Order</h1>

ID: <%= @order.id %><br />
<%= @order.email %>
<%= @order.phone %>

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td>
<h3>Billing Information</h3>
<% @order.billing_address.attributes.each do |k, v| %>
<%= "#{k}: #{v}" %><br />
<% end -%>
</td>
<td>
<h3>Shipping Information</h3>
<% @order.shipping_address.attributes.each do |k, v| %>
<%= "#{k}: #{v}" %><br />
<% end -%>
</td>
</tr>
</table>

<h3>Items</h3>
<% @order.line_items.each do |line_item| %>
<%= line_item.quantity %> x <%= line_item.product.sku %> = <%= number_to_currency line_item.total %><br />
<% end -%>

<h3>Total</h3>
<%= number_to_currency @order.total %>
