<%= render "piggybak/cart/items", :allow_edit => false %>

<%= form_for @order, :url => piggybak.order_submit_url, :method => "POST" do |f| %>

<%= raw @order.errors.full_messages.join("<br />") %>

<br /><br />

<% if current_user -%>
<%= f.label :email %>
<%= f.text_field :email, { :readonly => true } %><br />
<% else -%>
<%= f.label :email %>
<%= f.text_field :email %><br />
<% end -%>
<%= f.label :phone %>
<%= f.text_field :phone %><br />

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td>
<h3>Billing Address</h3>

<%= f.fields_for :billing_address do |billing_address| %>
<%= billing_address.label :firstname %>
<%= billing_address.text_field :firstname %><br />
<%= billing_address.label :lastname %>
<%= billing_address.text_field :lastname %><br />

<%= billing_address.label :address1 %>
<%= billing_address.text_field :address1 %><br />
<%= billing_address.label :city %>
<%= billing_address.text_field :city %><br />
<%= billing_address.label :state %>
<%= billing_address.text_field :state %><br />
<%= billing_address.label :zip %>
<%= billing_address.text_field :zip %>
<% end -%>

</td><td>
<h3>Shipping Address</h3>
<%= f.fields_for :shipping_address do |billing_address| %>
<%= billing_address.label :firstname %>
<%= billing_address.text_field :firstname %><br />
<%= billing_address.label :lastname %>
<%= billing_address.text_field :lastname %><br />

<%= billing_address.label :address1 %>
<%= billing_address.text_field :address1 %><br />
<%= billing_address.label :city %>
<%= billing_address.text_field :city %><br />
<%= billing_address.label :state %>
<%= billing_address.text_field :state %><br />
<%= billing_address.label :zip %>
<%= billing_address.text_field :zip %><br />
<% end -%>
</td></tr></table>

<%= f.fields_for :shipments, f.object.shipments.build do |shipment| %>
<%= shipment.label :shipping_method_id %>
<%= shipment.select :shipping_method_id, @shipping_methods %>
<% end -%>

<h3>Payment</h3>

<%= f.fields_for :payments, f.object.payments.build do |payment| %>
<%= payment.label :payment_method_id %>
<%= payment.select :payment_method_id, @payment_methods %><br />

<%= payment.label :number %>
<%= payment.text_field :number %><br />

<%= payment.label :verification_value %>
<%= payment.text_field :verification_value %><br />

<%= payment.label :month %>
<%= payment.select :month, 1.upto(12) %>

<%= payment.label :year %>
<%= payment.select :year, Time.now.year.upto(Time.now.year + 10) %><br />
<% end -%>

<%= f.submit %>

<% end -%>

