<div id="checkout">
	<h1>Checkout</h1>
	<%= form_for @order, :url => piggybak.orders_url, :method => "POST" do |f| %>
	<% if @order.errors.any? -%>
	<div id="checkout_error">
	<b>You have errors with your submission:</b><br />
	<%= raw @order.errors.full_messages.collect { |b| b.gsub(/^Line items payment/, 'Payment').gsub(/^Line items shipment shipping/, 'Shipping') }.join("<br />") %>
	</div>
	<% end -%>
	<div class="clear"></div>

	<%= render "user_details", :f => f %>	
	<%= render "billing_address", :f => f %>
	<%= render "shipping_address", :f => f %>

	<div id="add_details">
		<%= render "shipping", :f => f %>
		<%= render "payment", :f => f %>
		<div id="submit">
		<%= f.submit %>
		</div>
	</div>
	<% end -%>

	<div id="totals_section">
		<h3>Totals</h3>
		<%= render "piggybak/cart/items", :page => "checkout" %>
	</div>
</div>

<script type="text/javascript">
var shipping_lookup = "<%= piggybak.orders_shipping_url %>"; 
var tax_lookup = "<%= piggybak.orders_tax_url %>"; 
var geodata_lookup = "<%= piggybak.orders_geodata_url %>"; 
<% if params.has_key?(:piggybak_order) &&  params[:piggybak_order].has_key?(:shipments_attributes) -%>
var previous_shipping = <%= params[:piggybak_order][:shipments_attributes]["0"][:shipping_method_id] %>;
<% else -%>
var previous_shipping = "";
<% end -%>
</script>
