<div id="checkout">

<h1>Checkout</h1>
<%= form_for @order, :url => piggybak.orders_url, :method => "POST" do |f| %>

<% if @order.errors.any? -%>
<div id="checkout_error">
<b>You have errors with your submission:</b><br />
<%= raw @order.errors.full_messages.join("<br />") %>
</div>
<% end -%>
<div class="clear"></div>
	
<div id="user_details">
	<h3>User Details</h3>
	<div class="item">
		<% if current_user -%>
		<%= f.label :email %>
		<%= f.text_field :email, { :readonly => true, :class => "readonly" } %><br />
		<span>or <%= link_to 'LOGOUT', destroy_user_session_path, :method => :delete, :class => "last" %></span>
		<% else -%>
		<%= f.label :email %>
		<%= f.text_field :email %><br />
		<span>or <%= link_to 'LOG IN', new_user_session_path %></span>
		<% end -%>
	</div>
	<div class="item">
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>
</div>

<div id="billing_address">
	<h3>Billing Address</h3>
	<%= f.fields_for :billing_address do |billing_address| %>
	<%= render "address_form", :address => billing_address, :type => "billing" %>
	<% end -%>
</div>
<div id="shipping_address">
	<h3>
		Shipping Address
		<a href="#" id="copy">copy from billing</a>
	</h3>

	<%= f.fields_for :shipping_address do |shipping_address| %>
	<%= render "address_form", :address => shipping_address, :type => "shipping" %>
	<% end -%>
</div>

<div id="add_details">
	<div id="shipping">
	<h3>Shipping Option</h3>
	<%= f.fields_for :shipments, f.object.shipments.build do |shipment| %>
		<div class="item">
		<%= shipment.label :shipping_method_id %>
		<%= shipment.select :shipping_method_id, [] %>
		</div>
	<% end -%>
	</div>
	<div id="payment">
	<h3>Payment</h3>
	<%= f.fields_for :payments, f.object.payments.build do |payment| %>
		<div class="item">
		<%= payment.label :number %>
		<% if @order.errors.keys.include?("payments.number".to_sym) %>
		<span class="field_with_errors">
		<%= payment.text_field :number %>
		</span>
		<% else -%>
		<%= payment.text_field :number %>
		<% end -%>
		</div>

		<div class="item">
		<%= payment.label :verification_value %>
		<% if @order.errors.keys.include?("payments.verification_value".to_sym) %>
		<span class="field_with_errors">
		<%= payment.text_field :verification_value %>
		</span>
		<% else -%>
		<%= payment.text_field :verification_value %>
		<% end -%>
		</div>

		<div class="item">
		<%= payment.label :month %>
		<% if @order.errors.keys.include?("payments.verification_value".to_sym) %>
		<span class="field_with_errors">
		<%= payment.select :month, 1.upto(12).to_a %> /
		<%= payment.select :year, Time.now.year.upto(Time.now.year + 10).to_a %>
		</span>
		<% else -%>
		<%= payment.select :month, 1.upto(12).to_a %> /
		<%= payment.select :year, Time.now.year.upto(Time.now.year + 10).to_a %>
		<% end -%>
		</div>
	<% end -%>
	</div>
	<div id="submit">
	<%= f.submit %>
	</div>
</div>
<% end -%>

<div id="totals_section">
	<h3>Totals</h3>
	<%= render "piggybak/cart/items", :page => "checkout" %>
</div>

</div>

<%= javascript_include_tag "piggybak", "piggybak.states" %>
<script type="text/javascript">
var shipping_lookup = "<%= piggybak.orders_shipping_url %>"; 
var tax_lookup = "<%= piggybak.orders_tax_url %>"; 
var geodata_lookup = "<%= piggybak.orders_geodata_url %>"; 
<% if params.has_key?(:piggybak_order) &&  params[:piggybak_order].has_key?(:shipments_attributes) -%>
var previous_shipping = <%= params[:piggybak_order][:shipments_attributes]["0"][:shipping_method_id] %>;
<% else -%>
var previous_shipping = "";
<% end -%>
</script>
